@model IEnumerable<Assignment1.Models.EquipmentModel>;
@{
    ViewData["Title"] = "All Equipment";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <div>
            <h2>All Equipment</h2>
        </div>
        <div>
            <table>
                <thead>
                    <tr><th>ID</th><th>Type</th><th>Description</th><th>Availability</th></tr>
                </thead>
                <tbody>
                    @foreach (Assignment1.Models.EquipmentModel e in Model!){
                        <tr>
                            <td>e.id</td>
                            <td>e.type</td>
                            <td>e.description</td>
                            <td>e.available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>