@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Equipment Request</title>
    </head>
    <body>
        <div>
            <div>
                test text
            </div>
        </div>
    </body>
</html>