@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Equipment Request</title>
    </head>
    <body>
        <div>
            <div>
                <h1>FAST Equipment Tool</h1>
            </div>
            <div>
                <p>
                    The purpose of this web application is for students and professors alike to be able to request technological equipment
                    from the IT department. The application includes a list of all equipment, including their availability, a request form 
                    to fill out for usage requests, and an admin view to accept or decline requests. The equipment views will be a full equipment 
                    view or an available equipment view. The request form will have validation to ensure all fields are filled out correctly. 
                    The request form will NOT check the availability of equipment when it is requested. It is the responsibility of the 
                    requester to ensure the equipment is available beforehand. 
                </p>
            </div>
        </div>
    </body>
</html>