@model Assignment1.models.EquipmentRequestModel;
@{
    ViewData["Title"] = "Confirmation";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <div>
            <div>
                <h2>Thank You</h2>
            </div>
            <div>
                Your request is being processed @Model?.name <br>
                IT will be in contact with you soon.
            </div>
        </div>
    </body>
</html>