@model Assignment1.Models.EquipmentRequestModel;
@{
    ViewData["Title"] = "Equipment Request";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <form asp-action="RequestForm" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="name">Name: </label>
                <input asp-for="name"/>
            </div>
            <div>
                <label asp-for="email">Email: </label>
                <input asp-for="email" placeholder="name@collegename.ca"/>
            </div>
            <div>
                <label asp-for="phoneNumber">Phone Number: </label>
                <input asp-for="phoneNumber" placeholder="XXX-XXX-XXXX"/>
            </div>
            <div>
                <label asp-for="role">Role: </label>
                <select asp-for="role">
                    <option value="">Choose an option</option>
                    <option value="student">Student</option>
                    <option value="professor">Professor</option>
                </select>
            </div>
            <div>
                <label asp-for="equipmentType">Equipment Type: </label>
                <select asp-for="equipmentType">
                    <option value="">Choose an option</option>
                    <option value="laptop">Laptop</option>
                    <option value="phone">Phone</option>
                    <option value="tablet">Tablet</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div>
                <label asp-for="details">Request Details: </label>
                <input asp-for="details"/>
            </div>
            <div>
                <label asp-for="duration">Duration of Request (Days): </label>
                <input asp-for="duration"/>
            </div>
            <button type="submit">Submit Request</button>
        </form>
    </body>
</html>