@model IEnumerable<FastEquipment.Models.EquipmentRequest>;
@{
    ViewData["Title"] = "Requests";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <h2>Equipment Requests</h2>
        </div>
        <div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Equipment Type</th>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FastEquipment.Models.EquipmentRequest r in Model!)
                    {
                        <tr>
                            <td>@r.EquipmentType</td>
                            <td>@r.Name</td>
                            <td>@r.Role</td>
                            <td><button class="btn btn-success">Accept</button></td>
                            <td><button class="btn btn-danger">Deny</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>